* {
    font-family: 'Manrope', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(236, 240, 241, 1.0);
}

.container {
    width: 60vw;
    margin: auto;
    /*background-color: rgba(52, 73, 94, 1.0);*/
    /*color: rgba(236, 240, 241, 1.0);*/
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

h1 {
    text-align: center;
    font-weight: 200;
    font-size: 3rem;
    margin: 0;
}

h2 {
    font-size: 2rem;
    text-align: center;
    margin: 0 0 0.5rem 0;
}

h3, h4{
    text-align: center;
    margin: 2rem 0 0.5rem 0;
}

nav {
    background-color: rgb(50, 50, 50);
    text-align: center;
    font-size: 1.5rem;
    padding-top: 0.4rem;
    padding-bottom: 0.7rem;
}

.navbar-brand {
    display: inline;
    float: left;
    font-size: 1.7rem;
    font-weight: bold;
}

.navbar-links {
    display: inline;
    float: right;
}

nav a {
    padding: 0 0.5rem;
    font-size: 1.5rem;
    color: red;
    text-decoration: none;
}

nav a:hover {
    color: #b20000;
}

.navbar-links a:hover {
    border-bottom: 1px solid #b20000;
}

.myform {
    width: 80%;
    padding-bottom: 1rem;
    margin: auto auto 20px;
    display: block;
}

.form-group {
    padding-top: 3rem;
}

.form-label {
    width: 30%;
    float: left;
    padding: 0.3rem;
}

.form-element {
    width: 70%;
    float: left;
}

.button-group {
    margin-top: 3rem;
    text-align: center;
}

.button-group input {
    padding: 0.3rem;
}

.form-group input {
    padding: 0.3rem;
    width: 100%;
}

table {
    border-collapse: collapse;
}
