{% extends 'base.html' %}

{% block pageheading %}Administration{% endblock %}

{% block main %}
<h3 class="collapsible_header">Word Admin</h3>
<button type="button" class="collapsible"><h4>Add a Word</h4></button>
<div class="content">

<form class="my-form" method="POST" action="/add_word">
  <div class="form-group">
    <div class="form-label">Maori Word:</div>
    <div class="form-element"><input type="text" name="maori_word" id="maori_word" required></div>
  </div>
  <div class="error">{{maori_word_error}}</div>
  <div class="form-group">
    <div class="form-label">English Translation:</div>
    <div class="form-element"><input type="text" name="english_translation" id="english_translation" required></div>
  </div>
  <div class="error">{{english_translation_error}}</div>
  <div class="form-group">
    <div class="form-label">Category:</div>
    <div class="form-element">
      <select id="category" name="category">
        <option>None</option>
        {% for category in category_list %}
          <option>{{ category[1] }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="form-group">
    <div class="form-label">Definition:</div>
    <div class="form-element"><input type="text" name="definition" id="definition"></div>
  </div>
  <div class="form-group">
    <div class="form-label">Level:</div>
    <div class="form-element">
      <select id="level" name="level">
        <option>None</option>
        {% for level in level_list %}
          <option>{{ level[1] }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="form-group">
    <div class="form-label">Image Name:</div>
    <div class="form-element"><input type="text" name="image_name" id="image_name"></div>
  </div>
  <div class="form-group">
    <div class="form-label"></div>
    <div class="form-element"><input type="submit" value="Add Word"></div>
  </div>
</form>
</div>
<button type="button" class="collapsible"><h4>Edit / Delete a Word</h4></button>
<div class="content">
  <p>Redirect to edit individual word</p>
  <p>Or put the same thing here</p>
</div>

<h3 class="collapsible_header">Filter Admin</h3>
<button type="button" class="collapsible"><h4>Category Admin</h4></button>
<div class="content">
  <table class="list">
    <tr>
      <th style="width:60%">Category</th>
      <th style="width:20%">Edit</th>
      <th style="width:20%">Delete</th>
    </tr>
    {% for category in category_list %}
      <tr>
        <td>{{ category[1] }}</td>
        <td><a href="/individual_category/edit_category/{{ category[0] }}">Edit</a></td>
        <td><a href="/individual_category/delete_category/{{ category[0] }}">Delete</a></td>
      </tr>
    {% endfor %}
  </table>

  <form class="my-form" method="POST" action="/add_category">
    <div class="form-group">
      <div class="form-label">Category Name:</div>
      <div class="form-element"><input type="text" name="category_name" id="category_name"></div>
    </div>
    <div class="form-group">
      <div class="form-label"></div>
      <div class="form-element"><input type="submit" value="Add Category"></div>
    </div>
  </form>
</div>

<button type="button" class="collapsible"><h4>Level Admin</h4></button>
<div class="content">
  <table class="list">
    <tr>
      <th style="width:60%">Level</th>
      <th style="width:20%">Edit</th>
      <th style="width:20%">Delete</th>
    </tr>
    {% for level in level_list %}
      <tr>
        <td>{{ level[1] }}</td>
        <td><a href="/individual_level/edit_level/{{ level[0] }}">Edit</a></td>
        <td><a href="/individual_level/delete_level/{{ level[0] }}">Delete</a></td>
      </tr>
    {% endfor %}
  </table>

  <form class="my-form" method="POST" action="/add_level">
    <div class="form-group">
      <div class="form-label">Level Number:</div>
      <div class="form-element"><input type="number" name="level_name" id="level_name"></div>
    </div>
    <div class="form-group">
      <div class="form-label"></div>
      <div class="form-element"><input type="submit" value="Add Level"></div>
    </div>
  </form>
</div>

<h3 class="collapsible_header">User Admin</h3>
<button type="button" class="collapsible"><h4>Edit user Permissions / Delete User</h4></button>
<div class="content">
  <p>Here is where the user stuff will go</p>

  <table>
    <tr>
      <th style="width:20%">First Name</th>
      <th style="width:20%">Last Name</th>
      <th style="width:60%">Email</th>
    </tr>
    {% for user in user_list%}
    <tr>
      <td>{{ user[1] }}</td>
      <td>{{ user[2] }}</td>
      <td>{{ user[3] }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}