{% extends 'base.html' %}

{% block pageheading %}Administration{% endblock %}

{% block main %}
<h3 class="collapsible_header">Word Admin</h3>
<button type="button" class="collapsible"><h4>Add a Word</h4></button>
<div class="content">
  <p>This is where adding words will go</p>
</div>
<button type="button" class="collapsible"><h4>Edit / Delete a Word</h4></button>
<div class="content">
  <p>Redirect to edit individual word</p>
  <p>Or put the same thing here</p>
</div>

<h3 class="collapsible_header">Filter Admin</h3>
<button type="button" class="collapsible"><h4>Category and Level Admin</h4></button>
<div class="content">
  <table>
    <tr>
      <td style="width: 50%"><a href="/category_list">Edit Categories</a></td>
      <td style="width: 50%"><a href="/level_list">Edit Levels</a></td>
    </tr>
  </table>
</div>

<h3 class="collapsible_header">User Admin</h3>
<button type="button" class="collapsible"><h4>Edit user Permissions / Delete User</h4></button>
<div class="content">
  <p>Here is where the user stuff will go</p>
  <p>At the top will be a selector to select what user will be displayed below</p>
  <table>
    <tr>
      <td>First Name</td>
      <td>Last Name</td>
    </tr>
    <tr>
      <td colspan="2">Email</td>
    </tr>
    <tr>
      <td colspan="2">Role</td>
    </tr>
    <tr>
      <td>Edit User Role</td>
      <td>Delete User</td>
    </tr>
  </table>
</div>
{% endblock %}