{% extends 'base.html' %}

{% block pageheading %}Administration{% endblock %}

{% block main %}
<h3 class="collapsible_header">Word Admin</h3>
<button type="button" class="collapsible"><h4>Add a Word</h4></button>
<div class="content">

<form class="my-form" method="POST" action="/add_word">
  <div class="form-group">
    <div class="form-label">Maori Word:</div>
    <div class="form-element"><input type="text" name="maori_word" id="maori_word" required></div>
  </div>
  <div class="error">{{maori_word_error}}</div>
  <div class="form-group">
    <div class="form-label">English Translation:</div>
    <div class="form-element"><input type="text" name="english_translation" id="english_translation" required></div>
  </div>
  <div class="error">{{english_translation_error}}</div>
  <div class="form-group">
    <div class="form-label">Category:</div>
    <div class="form-element">
      <select id="category" name="category">
        {% for category in category_list %}
          <option>{{ category[1] }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="form-group">
    <div class="form-label">Definition:</div>
    <div class="form-element"><input type="text" name="definition" id="definition"></div>
  </div>
  <div class="form-group">
    <div class="form-label">Level:</div>
    <div class="form-element">
      <select id="level" name="level">
        {% for level in level_list %}
          <option>{{ level[1] }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="form-group">
    <div class="form-label">Image Name:</div>
    <div class="form-element"><input type="text" name="image_name" id="image_name"></div>
  </div>
  <div class="form-group">
    <div class="form-label"></div>
    <div class="form-element"><input type="submit" value="Add Word"></div>
  </div>
</form>
</div>
<button type="button" class="collapsible"><h4>Edit / Delete a Word</h4></button>
<div class="content">
  <p>Redirect to edit individual word</p>
  <p>Or put the same thing here</p>
</div>

<h3 class="collapsible_header">Filter Admin</h3>
<button type="button" class="collapsible"><h4>Category and Level Admin</h4></button>
<div class="content">
  <table>
    <tr>
      <td style="width: 50%"><a href="/category_list">Edit Categories</a></td>
      <td style="width: 50%"><a href="/level_list">Edit Levels</a></td>
    </tr>
  </table>
</div>

<h3 class="collapsible_header">User Admin</h3>
<button type="button" class="collapsible"><h4>Edit user Permissions / Delete User</h4></button>
<div class="content">
  <p>Here is where the user stuff will go</p>
  <p>At the top will be a selector to select what user will be displayed below</p>
  <table>
    <tr>
      <td>First Name</td>
      <td>Last Name</td>
    </tr>
    <tr>
      <td colspan="2">Email</td>
    </tr>
    <tr>
      <td colspan="2">Role</td>
    </tr>
    <tr>
      <td>Edit User Role</td>
      <td>Delete User</td>
    </tr>
  </table>
</div>
{% endblock %}