<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Maori Dictionary | {{ page_name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"/>
    <link href="{{ url_for('static', filename='MDW.css') }}" rel="stylesheet">
</head>
<body>
<nav>
    <div class="container">
        <div class="navbar-brand">
            <a href="/">Maori Dictionary</a>
        </div>
        <div class="navbar-links">
            <a href="/">Home</a>
            <a href="/word_list/0_0">Words</a>
            {% if logged_in %}
                {% if admin %}
                    <a href="/admin">Admin</a>
                {% endif %}
                <a href="/logout">Logout</a>
                {% else %}
                <a href="/login">Login</a>
            {% endif %}
        </div>
    </div>
</nav>
<div class="container">
    <header>
        <h1>{% block pageheading %}{% endblock %}</h1>
    </header>

    <main>
        {% block main %}
        {% endblock %}
    </main>
</div>

<script>
  var coll = document.getElementsByClassName("collapsible");
  var i;

  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.display === "block") {
        content.style.display = "none";
      } else {
        content.style.display = "block";
      }
    });
  }
</script>

</body>
</html>