{% extends "base.html" %}

{% block pageheading %}Edit {{ name }}{% endblock %}

{% block main %}
<form class="my-form" method="POST">
  <!-- >Depending on what filter needs to be edited we have an if condition to select if the input is text or a number</!-->
  {% if type != "level" %}
    <div class="form-group">
      <div class="form-label">{{ name }} Name:</div>
      <div class="form-element"><input type="text" name="filter_name" id="filter_name" value="{{ information[1] }}"></div>
    </div>
  {% else %}
    <div class="form-group">
      <div class="form-label">{{ name }} Number:</div>
      <div class="form-element"><input type="number" name="filter_number" id="filter_number" value="{{ information[1] }}"></div>
    </div>
  {% endif %}
  <div class="form-group">
    <div class="form-label"></div>
    <div class="form-element"><input type="submit" value="Change {{ name }} Information"></div>
  </div>
</form>
<br>
<h4>Words that will be affected by editing this {{ type }}.</h4>

    <table id="word_list">
      <tr>
        <th style="width:40%">Maori Word</th>
        <th style="width:40%">English Translation</th>
        <th style="width:20%">{{ name }}</th>
      </tr>
      {% for word in affected_words %}
        <tr>
          <td>{{ word[1] }}</td>
          <td>{{ word[2] }}</td>
          <td>{{ word[3] }}</td>
        </tr>
      {% endfor %}
    </table>
{% endblock %}