{% extends "base.html" %}

{% block pageheading %}Edit {{ user_information[1] }} {{ user_information[2] }}{% endblock %}

{% block main %}
<form class="my-form" method="POST">
  <!-- >Made it so the current first name already inputted into the selection</!-->
  <div class="form-group">
    <div class="form-label">First Name:</div>
    <div class="form-element"><input type="text" name="first_name" id="first_name" value="{{ user_information[1] }}" required></div>
  </div>
  <div class="error">{{first_name_error}}</div>
  <!-- >Made it so the current english translation already inputted into the selection</!-->
  <div class="form-group">
    <div class="form-label">Last Name:</div>
    <div class="form-element"><input type="text" name="last_name" id="last_name" value="{{ user_information[2] }}" required></div>
  </div>
  <div class="error">{{last_name_error}}</div>
  <!-- >Made it so the current definition already inputted into the selection</!-->
  <div class="form-group">
    <div class="form-label">Email:</div>
    <div class="form-element"><input type="text" name="email" id="email" value="{{ user_information[3] }}" required></div>
  </div>
  <div class="form-group">
    <div class="form-label">Role:</div>
    <div class="form-element">
      <select id="role" name="role">
        <!-- >Made it so the current role is the one selected on the drop down list</!-->
        {% for role in roles %}
          {% if role == user_information[4] %}
            <option selected="selected">{{ role }}</option>
          {% else %}
            <option>{{ role }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>
  <div class="form-group">
    <div class="form-label"></div>
    <div class="form-element"><input type="submit" value="Change User Information"></div>
  </div>
</form>
{% endblock %}