{% extends "base.html" %}

{% block pageheading %}Edit {{name}}{% endblock %}

{% block main %}
<table id="list">
  <tr>
    <th style="width:60%">{{name}}</th>
    <th style="width:20%">Edit</th>
    <th style="width:20%">Delete</th>
  </tr>
  {% for filter in filter_list %}
    <tr>
      <td>{{ filter[1] }}</td>
      <td><a href="/individual_{{type}}/edit_{{type}}/{{ filter[0] }}">Edit</a></td>
      <td><a href="/individual_{{type}}/delete_{{type}}/{{ filter[0] }}">Delete</a></td>
    </tr>
  {% endfor %}
</table>

<form class="my-form" method="POST" action="/add_{{ type }}">
  <!-- >Depending on what filter needs to be edited we have an if condition to select if the input is text or a number</!-->
  {% if type != "level" %}
    <div class="form-group">
      <div class="form-label">{{name}} Name:</div>
      <div class="form-element"><input type="text" name="filter_name" id="filter_name"></div>
    </div>
  {% else %}
    <div class="form-group">
      <div class="form-label">{{name}} Number:</div>
      <div class="form-element"><input type="number" name="filter_number" id="filter_number"></div>
    </div>
  {% endif %}
  <div class="form-group">
    <div class="form-label"></div>
    <div class="form-element"><input type="submit" value="Add {{name}}"></div>
  </div>
</form>
{% endblock %}