{% extends "base.html" %}

{% block pageheading %}Edit {{type}}{% endblock %}

{% block main %}
<table id="list">
  <tr>
    <th style="width:60%">{{type}}</th>
    <th style="width:20%">Edit</th>
    <th style="width:20%">Delete</th>
  </tr>
  {% for filter in filter_list %}
    <tr>
      <td>{{ filter[1] }}</a></td>
      <td><a href="/individual_{{type}}/edit_{{type}}/{{ filter[0] }}">Edit</a></td>
      <td><a href="/individual_{{type}}/delete_{{type}}/{{ filter[0] }}">Delete</a></td>
    </tr>
  {% endfor %}
</table>
{% endblock %}