{% extends "base.html" %}

{% block pageheading %}Words...{% endblock %}

{% block main %}
<table id="wordlist">
  <tr>
    <th style="width:40%">Maori Word</th>
    <th style="width:40%">English Translation</th>
    <th style="width:10%">Level</th>
    <th style="width:10%">Category</th>
  </tr>
  {% for word in word_list %}
    <tr>
      <td><a href="individualword/{{ word[0] }}">{{ word[1] }}</a></td>
      <td>{{ word[2] }}</td>
      <td>{{ word[4] }}</td>
      <td>{{ word[3] }}</td>
    </tr>
  {% endfor %}
</table>
{% endblock %}