{% extends "base.html" %}

{% block pageheading %}Words...{% endblock %}

{% block main %}
<div class="container">
  <button type="button" class="collapsible"><h3>Filters</h3></button>
  <div class="content", id="filterlist">
    <div class="column">
        <table class="filtertable">
            <th>
                <a>Category Filters</a>
            </th>
            <tr>
                <td>
                    <a href="/word_list/0_{{ current_level }}">All categories</a>
                </td>
            </tr>
            {% for category in category_list %}
                <tr>
                    <td>
                        <a href="/word_list/{{ category[0] }}_{{ current_level }}">{{ category[1] }}</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="column">
        <table class="filtertable">
            <th>
                <a>Level Filters</a>
            </th>
            <tr>
                <td>
                    <a href="/word_list/{{ current_category }}_0">All levels</a>
                </td>
            </tr>
            {% for level in level_list %}
                <tr>
                    <td>
                        <a href="/word_list/{{ current_category }}_{{ level[0] }}">{{ level[1] }}</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    {% if admin %}
      <table id="editfilters">
          <tr>
              <td style="width: 50%">
                <a href="/category_list">Edit Categories</a>
              </td>
              <td style="width: 50%">
                <a href="/level_list">Edit Levels</a>
              </td>
          </tr>
      </table>
    {% endif %}
  </div>
</div>

<table id="list">
  <tr>
    <th style="width:40%">Maori Word</th>
    <th style="width:40%">English Translation</th>
    <th style="width:10%">Level</th>
    <th style="width:10%">Category</th>
  </tr>
  {% for word in word_list %}
    <tr>
      <td><a href="/individual_word/{{ word[0] }}">{{ word[1] }}</a></td>
      <td>{{ word[2] }}</td>
      <td>{{ word[4] }}</td>
      <td>{{ word[3] }}</td>
    </tr>
  {% endfor %}
</table>
{% endblock %}