{% extends "base.html" %}

{% block pageheading %}Words...{% endblock %}

{% block main %}
<div class="container">
  <!-- >Decided to make the filter list collapsable as 14 lines is quite a lot of space (Assuming that more won't be added)</!-->
  <button type="button" class="collapsible"><h3>Filters</h3></button>
  <div class="content", id="filterlist">
    <div class="column">
        <table class="list">
            <th>
                <a>Category Filters</a>
            </th>
            <tr>
                <td>
                    <a href="/word_list/0_{{ current_level }}">All categories</a>
                </td>
            </tr>
            {% for category in category_list %}
                <tr>
                    <td>
                        <a href="/word_list/{{ category[0] }}_{{ current_level }}">{{ category[1] }}</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="column">
        <table class="list">
            <th>
                <a>Level Filters</a>
            </th>
            <tr>
                <td>
                    <a href="/word_list/{{ current_category }}_0">All levels</a>
                </td>
            </tr>
            {% for level in level_list %}
                <tr>
                    <td>
                        <a href="/word_list/{{ current_category }}_{{ level[0] }}">{{ level[1] }}</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <!-- >To keep the same format I have decided to make the filter lists available to admins directly from the filters themselves<!-->
    {% if admin %}
      <table>
          <tr>
              <td style="width: 50%">
                <a href="/admin">Edit Filters</a>
              </td>
          </tr>
      </table>
    {% endif %}
  </div>
</div>

<table class="list">
  <!-- >The word list has its rows alternate between white and light gray making is easier to see what lines up with what</!-->
  <tr>
    <th style="width:35%">Maori Word</th>
    <th style="width:35%">English Translation</th>
    <th style="width:15%">Level</th>
    <th style="width:15%">Category</th>
  </tr>
  <!-- >Decided not to display images on the list as the images would make the lines much taller making the overall list much longer<!-->
  {% for word in word_list %}
    <tr>
      <td><a href="/individual_word/{{ word[0] }}">{{ word[1] }}</a></td>
      <td>{{ word[2] }}</td>
      <td>{{ word[4] }}</td>
      <td>{{ word[3] }}</td>
    </tr>
  {% endfor %}
</table>
{% endblock %}